body{
    background-image: url("https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQhVNyQ-YuSc7Up734-wvBjscxNPehEI-DfbnMUXV55kkH0jy6KgyUW0ROcoW24_3nFVI4AqvZd3Io6SVE69XqnT9aY7zk44iIkYU0x5jwiGQSkpTYqlxk8dxOnoHSVAkifOUN4Rm4h7w");
    background-size: auto;
    color: white;
}